body .container {
  font-family: "Poppins", sans-serif;
}
.plus_one img {
  height: 144px;
}

.address {
  font-size: medium;
}
.contact {
  font-size: small;
}
.blank_part {
  background-color: rgb(241 233 233 / 21%);
}
/*------------------second part-------------*/
/*-------------main img------------*/
.main_img {
  background-image: url("img/bg_img.jpg");
  width: 100%;
  height: auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bussiness_bg {
  justify-content: center;
  font-size: 109px;
  color: rgba(255, 255, 255, 0.726);
  font-weight: 900;
  margin: 170px;
  margin-inline: 82px;
}

/*------------------------blue part---------------*/
.blue {
  background-color: rgb(41 164 225 / 42%);
  position: relative;
  margin-top: -504px;
  padding-top: 16px;
  padding: 27px;
}

.san_marino {
  color: white;
  position: relative;
  font-size: xxx-large;
  font-weight: bold;
}
.hr_line {
  width: 194px;
  height: 8px;
  background-color: white;
  margin-top: 19px;
}
.flyer_template {
  color: white;
  font-size: 60px;
  font-weight: 600;
  margin-top: 41px;
}
.dot {
  display: flex;
  background-color: rgb(181 13 82 / 69%);
  width: 12px;
  height: 12px;
  margin-inline: 8px;
}
.dot_div {
  margin-top: 58px;
  margin-inline: 14px;
}
/*----------------pink  color block----*/
.pink_box {
  background-color: rgb(181 13 82 / 69%);
  width: 188px;
  width: 190px;
  height: 213px;
  margin-top: -504px;
  margin-left: -31px;
}

/*-------------------------our company------*/
.paragraph {
  font-size: x-small;
  padding-top: 21px;
  font-weight: 500;
}
.about {
  font-weight: bold;
  padding-inline: 47px;
  margin-bottom: -14px;
  line-height: 63px;
}
.our_comapny {
  margin-left: 45px;
  line-height: 2px;
}
.border_left {
  border-left: rgb(181 13 82 / 69%) solid;
  height: 50px;
  width: 60px;
  margin-left: 34px;
  margin-top: -61px;
}
/*---------------icon part--------------*/
.msg_icon {
  font-size: 30px;
  margin-left: 34px;
}
.black_msg {
  font-size: 1.25rem;
  font-weight: 800;
}
.pink_msg {
  font-size: small;
  color: rgb(181 13 82 / 69%);
  font-weight: 700;
}
.paragraph_icon {
  justify-items: center;
  font-size: xx-small;
}
.border_right {
  border-right: black solid;
}
.p_dot {
  border-bottom: rgb(181 13 82 / 69%) solid;
  width: 15px;
  height: 5px;
  margin-left: 233px;
  margin-top: -20px;
}
/*--------------------------footer-------------------------------*/
.footer {
  background-color: #2c2f36;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px;

  font-family: "Poppins", sans-serif;
}
.hey_design {
  font-weight: bold;
  color: white;
}
.ux {
  font-weight: bold;
  color: white;
  margin: 11px;
}

.top_1 {
  width: 29px;
  height: 3px;
  margin-top: 12px;
  background-color: white;
}
.top_2 {
  width: 22px;
  height: 3px;
  margin-top: 3px;
  background-color: white;
}
.top_3 {
  width: 8px;
  height: 3px;
  margin-top: 3px;
  background-color: white;
}
.top_4 {
  width: 3px;
  height: 3px;
  margin-top: -3px;
  border-radius: 100% 100%;
  background-color: white;
  margin-inline: 12px;
}
.top {
  margin-inline: 74px;
  text-align: justify;
  margin-top: -14px;
}

.creatch {
  color: white;
  font-weight: bold;
  font-size: smaller;
}

.bx {
  font-weight: bold;
  color: white;
}
/*----------------media qurery----------*/
@media screen and (max-width: 515px) {
  .flyer_template {
    color: white;
    font-size: 46px;
    font-weight: 600;
    margin-top: 41px;
  }

  .blue {
    background-color: rgb(41 164 225 / 42%);
    position: relative;
    margin-top: -504px;
    padding-top: 16px;
    padding: 28px;
  }
  .pink_box {
    background-color: rgb(181 13 82 / 69%);
    width: 188px;
    width: 190px;
    height: 213px;
    margin-top: -512px;
    margin-left: 295px;
  }
  .top_1 {
    width: 32px;
    height: 6px;
    margin-top: 40px;
    background-color: white;
  }
  .top {
    margin-inline: 218px;
    text-align: justify;
    margin-top: -12px;
  }
  .bx {
    font-weight: bold;
    color: white;
    margin: 37px;
  }
}
