.plus_one img
{
    height: 120px;
}


.address
{
    font-size:medium;
}
.blank_part
{
    background-color: rgba(58, 53, 53, 0.212);
   
}
/*------------------second part-------------*/
 /*-------------main img------------*/
 .main_img
 {
    background-image:url('img/main_img.jpg');
    width: 100%;
    height:auto;
     overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;

 }
 .bussiness_bg
 {
    justify-content: center;
    font-size: 109px;
    color: rgba(255, 255, 255, 0.726);
    font-weight: 900;
    margin: 170px;
    margin-inline: 82px;
}

 
 /*------------------------blue part---------------*/
 .blue
 {
    background-color:rgb(0 0 255 / 43%);
    position: relative;
    margin-top: -503px;
     padding:50px;
}
 
 .san_marino
 {
    color: white;
    position: relative;
    font-size: xxx-large;
    font-weight: bold;
 }
 .hr_line
 {
    width: 194px;
    height: 8px;
    background-color: white;
    margin-top: 19px;
 }
 .flyer_template
 {  
    
    color:white;
    font-size: 60px;
    font-weight: 600;
 }
 .dot
 {
    display: flex;
   background-color:rgba(182, 3, 63, 0.897);
   width: 12px;
    height: 12px;
    margin-inline: 8px;
 }
 .dot_div
 {
   margin-top: 58px;
   margin-inline: 14px;
 }
 /*----------------3 color block----*/
 .pink_box
 {
   background-color: rgba(212, 51, 118, 0.692);
    width: 188px;
    height: 166px;
    margin-left: -30px;
    margin-top: -504px;
 }
 .black_box
 {
   background-color: rgba(0, 0, 0, 0.664);
   width: 188px;
   height:166px;
   margin-left: -30px;
 }
 .gray_box
 {
   background-color: rgba(128, 128, 128, 0.692);
   width: 188px;
   height:166px;
   margin-left: -30px;
   
 }
 